.logo{
    height:35%;
    width:55%;
    /*border: 1px solid;*/
    margin-left: auto;
    margin-right:auto;
    margin-top: 35%;
}

#start-btn {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 45%;
}

.btn-primary{
    font-size: 50px;
    font-family: 'Economica', sans-serif;
    background-color: #02C39A;
    padding: 20px;  
    border-radius: 15px;  
}
.htn-primary:hover{
    background-color: #05668D;
}