.logo{
    height:30%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 40%;
    margin-bottom: 0%;
}

#start-btn {
    width:60%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

#note {
    margin-top:1%;
}

#Major {
    width:40%;
}

.white{
    color: white;
}

.textCenter {
    text-align:center;
}

p {
    font-size: 120px;
    margin-bottom: 0%;
}

input {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}